// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ controls & form standards

form {
  input,
  textarea,
  select,
  button {
    @include reset_device_styling;
  }
  label {
    display: none;

    &.inline {
      display: inline-block;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="submit"],
  textarea {
    font-size: $bigText;
    font-family: $groteskRegular;
    width: 100%;
    padding-top: 10px;
    height: 60px;
    border-bottom: 1px solid $black;
    background: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    @include box_sizing_inset;
    @include border_radius(0);

    &.error {
      border-color: $red;
    }

    &:focus {
      border-color: $grey3;
    }
  }

  span {
    &.note {
      display: block;
      margin-top: 0.4rem;
      font-size: 0.75rem; // redefined because field_with_errors

      &.error {
        color: $red;
      }
    }
  }

  .field_with_errors {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="submit"],
    textarea {
      color: $red;
      border-color: $red;
    }
  }
  .errors_list {
    li {
      color: $red;
    }
  }

}
