// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ layout defaults

body {
  padding: 2.5%;
  font-family: $bodyNormal;
  background-color: $white;
}

#main_content {
  
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ main layout stuff */

hr.spacer {
  width: 100%;
  border: 0;
  background: none;
  clear: both;
}

/* +++++++++++++++++++++++++++++ columns, yo */

.columns {
  width: 100%;
  float: left;

  &.margin {
    @include margin_right_by_layout(0,1);
    &.span_six { margin-right: 0 }
  }

  &.right {
    float: right;
  }

  &.content_right {
    text-align: right;
  }

  .column,
  .sub_column {
    width: 100%;
    float: left;

    &.right {
      float: right;
    }
  }

  &.span_three {
    $columnSpan: 3;
    $columnSpanLessor: ($columnSpan - 1);
    @include width_by_layout($columnSpan,$columnSpanLessor);

    .column {
      &.margin {
        @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
        &.three { margin-right: 0 }
      }

      &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
      &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
      &.three { @include width_by_divisor(3,2,$columnSpan,$columnSpanLessor); }
    }
  }
  &.span_two {
    $columnSpan: 2;
    $columnSpanLessor: ($columnSpan - 1);
    @include width_by_layout($columnSpan,$columnSpanLessor);

    .column {
      &.margin {
        @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
        &.two { margin-right: 0 }
      }

      &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
      &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
    }
  }
  &.span_one {
    $columnSpan: 1;
    $columnSpanLessor: ($columnSpan - 1);
    @include width_by_layout($columnSpan,$columnSpanLessor);

    .column {
      &.margin {margin-right: 0 }

      &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
    }
  }
}
