/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ layout defaults */

body {
  padding: 2.5%;
  font-family: $sans;
  background-color: $white;
}

#main_content {
  
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ main layout stuff */

hr.spacer {
  width: 100%;
  border: 0;
  background: none;
  clear: both;
}

/* +++++++++++++++++++++++++++++ columns, yo */

.columns {
  width: 100%;
  float: left;

  &.margin {
    @include margin_right_by_layout(0,1);
    &.span_six { margin-right: 0 }
  }

  &.right {
    float: right;
  }

  &.content_right {
    text-align: right;
  }

  .column,
  .sub_column {
    width: 100%;
    float: left;

    &.right {
      float: right;
    }
  }

  &.span_six {
    $columnSpan: 6;
    .column {
      &.margin {
        @include margin_right_by_layout(0,1);
        &.six { margin-right: 0 }
      }

      &.one   { @include width_by_layout(1,0); }
      &.two   { @include width_by_layout(2,1); }
      &.three { @include width_by_layout(3,2); }
      &.four  { @include width_by_layout(4,3); }
      &.five  { @include width_by_layout(5,4); }
      &.six   { @include width_by_layout(6,5); }

      &.two {
        .sub_column {
          $columnSpan: 2;
          $columnSpanLessor: ($columnSpan - 1);
          &.margin {
            @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
            &.three { margin-right: 0 }
          }

          &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
          &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
        }
      }
      &.three {
        .sub_column {
          $columnSpan: 3;
          $columnSpanLessor: ($columnSpan - 1);
          &.margin {
            @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
            &.three { margin-right: 0 }
          }

          &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
          &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
          &.three { @include width_by_divisor(3,2,$columnSpan,$columnSpanLessor); }
        }
      }
      &.four {
        .sub_column {
          $columnSpan: 4;
          $columnSpanLessor: ($columnSpan - 1);
          &.margin {
            @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
            &.three { margin-right: 0 }
          }

          &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
          &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
          &.three { @include width_by_divisor(3,2,$columnSpan,$columnSpanLessor); }
          &.four  { @include width_by_divisor(4,3,$columnSpan,$columnSpanLessor); }
        }
      }
      &.five {
        .sub_column {
          $columnSpan: 5;
          $columnSpanLessor: ($columnSpan - 1);
          &.margin {
            @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
            &.three { margin-right: 0 }
          }

          &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
          &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
          &.three { @include width_by_divisor(3,2,$columnSpan,$columnSpanLessor); }
          &.four  { @include width_by_divisor(4,3,$columnSpan,$columnSpanLessor); }
          &.five  { @include width_by_divisor(5,4,$columnSpan,$columnSpanLessor); }
        }
      }
      &.six {
        .sub_column {
          $columnSpan: 6;
          $columnSpanLessor: ($columnSpan - 1);
          &.margin {
            @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
            &.three { margin-right: 0 }
          }

          &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
          &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
          &.three { @include width_by_divisor(3,2,$columnSpan,$columnSpanLessor); }
          &.four  { @include width_by_divisor(4,3,$columnSpan,$columnSpanLessor); }
          &.five  { @include width_by_divisor(5,4,$columnSpan,$columnSpanLessor); }
          &.six   { @include width_by_divisor(6,5,$columnSpan,$columnSpanLessor); }
        }
      }
    }
  }
  &.span_five {
    $columnSpan: 5;
    $columnSpanLessor: ($columnSpan - 1);
    @include width_by_layout($columnSpan,$columnSpanLessor);

    .column {
      &.margin {
        @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
        &.five { margin-right: 0 }
      }

      &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
      &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
      &.three { @include width_by_divisor(3,2,$columnSpan,$columnSpanLessor); }
      &.four  { @include width_by_divisor(4,3,$columnSpan,$columnSpanLessor); }
      &.five  { @include width_by_divisor(5,4,$columnSpan,$columnSpanLessor); }

      &.one {
        .sub_column {
          $columnSpan: 1;
          $columnSpanLessor: ($columnSpan - 1);
          &.margin {
            @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
            &.three { margin-right: 0 }
          }

          &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
        }
      }
      &.two {
        .sub_column {
          $columnSpan: 2;
          $columnSpanLessor: ($columnSpan - 1);
          &.margin {
            @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
            &.three { margin-right: 0 }
          }

          &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
          &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
        }
      }
      &.three {
        .sub_column {
          $columnSpan: 3;
          $columnSpanLessor: ($columnSpan - 1);
          &.margin {
            @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
            &.three { margin-right: 0 }
          }

          &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
          &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
          &.three { @include width_by_divisor(3,2,$columnSpan,$columnSpanLessor); }
        }
      }
      &.four {
        $columnSpan: 4;
        $columnSpanLessor: ($columnSpan - 1);
        .sub_column {
          &.margin {
            @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
            &.five { margin-right: 0 }
          }

          &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
          &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
          &.three { @include width_by_divisor(3,2,$columnSpan,$columnSpanLessor); }
          &.four  { @include width_by_divisor(4,3,$columnSpan,$columnSpanLessor); }
          &.five  { @include width_by_divisor(5,4,$columnSpan,$columnSpanLessor); }
        }
      }
      &.five {
        $columnSpan: 5;
        $columnSpanLessor: ($columnSpan - 1);
        .sub_column {
          &.margin {
            @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
            &.five { margin-right: 0 }
          }

          &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
          &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
          &.three { @include width_by_divisor(3,2,$columnSpan,$columnSpanLessor); }
          &.four  { @include width_by_divisor(4,3,$columnSpan,$columnSpanLessor); }
          &.five  { @include width_by_divisor(5,4,$columnSpan,$columnSpanLessor); }
        }
      }
    }
  }
  &.span_four {
    $columnSpan: 4;
    $columnSpanLessor: ($columnSpan - 1);
    @include width_by_layout($columnSpan,$columnSpanLessor);

    .column {
      &.margin {
        @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
        &.four { margin-right: 0 }
      }

      &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
      &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
      &.three { @include width_by_divisor(3,2,$columnSpan,$columnSpanLessor); }
      &.four  { @include width_by_divisor(4,3,$columnSpan,$columnSpanLessor); }
    }
  }
  &.span_three {
    $columnSpan: 3;
    $columnSpanLessor: ($columnSpan - 1);
    @include width_by_layout($columnSpan,$columnSpanLessor);

    .column {
      &.margin {
        @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
        &.three { margin-right: 0 }
      }

      &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
      &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
      &.three { @include width_by_divisor(3,2,$columnSpan,$columnSpanLessor); }
    }
  }
  &.span_two {
    $columnSpan: 2;
    $columnSpanLessor: ($columnSpan - 1);
    @include width_by_layout($columnSpan,$columnSpanLessor);

    .column {
      &.margin {
        @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
        &.two { margin-right: 0 }
      }

      &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
      &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
    }
  }
  &.span_one {
    $columnSpan: 1;
    $columnSpanLessor: ($columnSpan - 1);
    @include width_by_layout($columnSpan,$columnSpanLessor);

    .column {
      &.margin {margin-right: 0 }

      &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
    }
  }
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ backend nav stuff */

#backend_menu {
	position: fixed;
	top: 0px;
	right: 50px;
	width: 75px;
	font-family: $sans;
	z-index: 5000;
}
#backend_menu a {
	display: block;
	padding: 5px 10px 5px 10px;
	width: 55px;
  font-size:   13px;
  line-height: 18px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	background-color: $black;
	color: white;
}

#return_menu {
	position: absolute;
	top: 0px;
	right: 50px;
	font-family: $sans;
	width: 125px;
	z-index: 5000;
}
#return_menu a {
	display: block;
	padding: 5px 10px 5px 10px;
	width: 105px;
  font-size:   13px;
  line-height: 18px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	background-color: #0099ff;
	color: white;
}

#backend_logout {
	position: fixed;
	bottom: 0px;
	right: 50px;
	width: 75px;
	font-family: $sans;
	z-index: 5000;
}
#backend_logout a {
	display: block;
	padding: 5px 10px 5px 10px;
	width: 55px;
  font-size:   13px;
  line-height: 18px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	background-color: #df4104;
	color: white;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ placeholder stuff */

.placeholder {
  background-color: #ff7bac;
  
  p, ul, ol {
    padding: 24px;
    font-family: $sans;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: $white;
  }
}

.note {
  font-family: $sans;
  font-size: 24px !important;
  font-weight: 600 !important;
  color: #ff7bac !important;
}

/* ++++++++++++++++++++++++++++++++++++ pagination stuff */

#pagination {
  .spinner {
    width: 100%;
    text-align: center;
  }
  .pagination {
    display: none;
  }
}
