%aside#modal{style: 'display:none'}
  %p.close_modal
    = link_to "/" do
      %span.icon= render partial: "svg/x_icon.svg"
      %span.label Close
  .modal_content
    %h3 Thank you for signing!
    %h3 Almost finished… Check your inbox to confirm your signature.