%article.content
  %p.intro
    %em To Encourage 
    an atmosphere of responsibility and transparency, while creating the most positive social network experience, Ello has created this bill of rights for all social network users.
  %p.intro
    %em We Believe:

  %ol.points
    %li
      %span.bullet I
      %span.point You have the right to privacy.
      %span.content Data about you should not be collected, bought, or sold to third parties.

    %li
      %span.bullet II
      %span.point You have the right not to be tracked.
      %span.content You should be able to turn off all analytic tracking when you use a social network.

    %li
      %span.bullet III
      %span.point You have the right to control what you see.
      %span.content You should never be forced to see ads or boosted posts by people or companies that you haven’t chosen to follow. 

    %li
      %span.bullet IV
      %span.point Your followers have the right to see everything you post.
      %span.content What you see should not be controlled by algorithms that favor paid posts by advertisers over friends. And everyone that follows you should see everything you post for free.

    %li
      %span.bullet V
      %span.point You own what you post.
      %span.content You should not give up ownership of the things that you create when you post them on a social network.

    %li
      %span.bullet VI
      %span.point You can be anyone you want.
      %span.content You’re safest when you control what you post. You should not be required to give your real name, age, sex, race, marital status, sexual orientation, religion, education, home address, or any other personal information which could be later sold to advertisers.

    %li
      %span.bullet VII
      %span.point Your friends are not tools for advertisers.
      %span.content When a social network uses your network of friends to sell things, they violate trust.

    %li
      %span.bullet VIII
      %span.point Terms should be dependable, clear, and transparent.
      %span.content Terms & conditions should be written in simple language that everyone can understand.

    %li
      %span.bullet IX
      %span.point You have the right to permanently delete your account at any time.
      %span.content Leaving should be permanent, easy, and hassle-free.

    %li
      %span.bullet X
      %span.point You have the right to see all the data that is collected about you.
      %span.content When a social network builds a secret dossier about you that you don’t have access to, it violates your right to privacy and threatens your civil rights. Downloading all your data should be as easy as clicking a button.
