%article.content
  %h1 I am a page!

  %p 
    %em To Encourage 
    an atmosphere of responsibility and transparency, while creating the most positive social network experience, Ello has created this bill of rights for all social network users.
