%article.content
  %p.intro
    %em To ENCOURAGE 
    an atmosphere of responsibility and transparency, while creating the most positive social network experience, Ello has created this bill of rights for all social network users.
  %p.intro.big We believe:

  %ol.points#points
    %li
      %span.bullet I
      %span.point You have the right to privacy.
      %span.content Data about you should not be collected, bought, or sold to third parties.

    %li
      %span.bullet II
      %span.point You have the right not to be tracked.
      %span.content You should be able to turn off tracking when you use a social network.

    %li
      %span.bullet III
      %span.point You have the right to control what you see.
      %span.content You should never be forced to see ads or boosted posts from people and companies that you haven’t chosen to follow. 

    %li
      %span.bullet IV
      %span.point Your followers have the right to see everything you post.
      %span.content What you see should not be controlled by algorithms that favor paid posts by advertisers over friends. Everyone that follows you should see everything you post for free.

    %li
      %span.bullet V
      %span.point You have the right to own what you post.
      %span.content You should not give up ownership of the things that you create when you post them on a social network.

    %li
      %span.bullet VI
      %span.point You have the right to be anyone you want.
      %span.content You’re safest when you control what you disclose on a social network. You should not be required to give your real name, age, sex, race, marital status, sexual orientation, religion, education, home address, or any other personal information which could be sold to third parties.

    %li
      %span.bullet VII
      %span.point You have the right to relationships that won’t be exploited.
      %span.content When a social network uses your network of friends to sell things, they violate your trust.

    %li
      %span.bullet VIII
      %span.point You have the right to clear and transparent terms & conditions.
      %span.content Terms should be written in simple language that you can understand.

    %li
      %span.bullet IX
      %span.point You have the right to see all the data collected about you.
      %span.content When a social network builds a secret dossier that you don’t have access to, it violates your privacy and threatens civil rights. Downloading your data should be as easy as clicking a button.

    %li
      %span.bullet X
      %span.point You have the right to permanently delete your account.
      %span.content Leaving your social network should be simple, hassle-free, and permanent.
=render partial: "sign"
=render partial: "share"
=render partial: "signatories"
