// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ errors

body.errors {
  background-color: $grey1;

  .intro {
    padding-left: 60px + $smallColumn_px;

    a {
      text-decoration: underline;

      &:active {
        @include transition_color(0);
      }
    }
  }
}
