// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ errors

body.errors {
  background-color: $grey1;

  .intro {
    padding-left: 60px + $smallColumn_px;

    a {
      text-decoration: underline;

      &:active {
        @include transition_color(0);
      }
    }
  }
}

@media only screen and (min-width : 1px) and (max-width : 500px) {
  body.errors {
    .intro {
      padding-left: 0;
    }
  }
}
