// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ content pages

body.pages {
  background-color: $white;

  a {
    &:hover {
      color: $grey3;
    }
  }

  .intro {
    margin-bottom: 4.25rem;
  }

  .points {
    width: 100%;
    li {
      margin-bottom: 4.25rem;
      width: 100%;
      span {
        display: inline-block;
        &.bullet,
        &.point {
          margin-bottom: 2rem;
          font-family: $titleBold;
          font-size: $bigText;
          line-height: $bigTextLine;
          font-weight: 700;
          float: left;
        }
        &.bullet {
          @include margin_right_by_layout(0,1);
          @include width_by_layout(1,0);
        }
        &.point {
          @include width_by_layout(2,1);
        }
        &.content {
          @include padding_left_by_layout(1,1);
        }
      }
    }
  }

  h2 {
    padding-top: 1rem;
    margin-bottom: $bigTextLine;
    font-family: $titleBold;
    font-size: $bigText;
    line-height: $bigTextLine;
    font-weight: 700;
  }

  .block {
    margin-top: 4.25rem;

    &.signatories {
      margin-bottom: 4.25rem;

      ul {
        width: 100%;
        li {
          @include margin_right_by_layout(0,1);
          @include width_by_layout(1,0);
          line-height: $bigTextLine;
          float: left;

          &:nth-child(3n) {
            margin-right: 0;
          }

          a {
            text-decoration: underline;
          }
        }
      }
    }
  }

}
