%meta{property: "og:title", content: fb_page_title}
%meta{property: "og:type", content: fb_type}
%meta{property: "og:url", content: "http://#{Secrets.app_url}#{request.fullpath}"}
%meta{property: "og:image", content: fb_image}
%meta{property: "og:site_name", content: base_site_title}
%meta{property: "og:page_id", content: Secrets.facebook_page_id}
%meta{property: "og:app_id", content: Secrets.facebook_app_id}
%meta{property: "og:description", content: fb_description}
