%header.top.clear
  %h1
    = link_to "https://#{Secrets.parent_url}" do
      %span.icon= render partial: "svg/ello_icon.svg"
      %span.label= company_name
  %h2 The Ello Bill of Rights for Social Network Users
