%meta{property: "twitter:title", content: fb_page_title}
%meta{property: "twitter:url", content: request.original_url}
%meta{property: "twitter:image", content: fb_image}
%meta{property: "twitter:description", content: fb_description}
